<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Histogram analyse of signals</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-translate/dist/angular-translate.min.js"></script>


    <script src="script.js"></script>
    <script src="translateScript.js"></script><!--translate script-->

</head>
<body ng-controller="mainCtrl">
<div class="row">
    <h1 class="col-md-offset-4 col-md-4">{{ 'TITLE' | translate}}</h1>
    <form role="form" class="col-md-4">
        <h3>{{"lang" | translate}}</h3>
        <div class="radio">
            <label><input type="radio" ng-model="lang" ng-change="changeLang()" value="en" name="optradio">{{"eng" |
                translate}}</label>
        </div>
        <div class="radio">
            <label><input type="radio" ng-model="lang" ng-change="changeLang()" value="ua" name="optradio">{{"ukr" |
                translate}}</label>

        </div>
    </form>

</div>


<br>
<div class="container-fluid">
    <form class="form-inline " role="form">
        <div class="form-group ">
            <label class="control-label" for="link">{{"URL_label" | translate}}</label>
            <input type="text" class="form-control" id="link" ng-model="path">
        </div>

    </form>
    <br>
    <form class="form-inline" role="form">
        <div class="form-group ">
            <label class="control-label" for="type">{{"TYPE_label" | translate}}</label>
            <select id="type" class="form-control" ng-model="typeOfRequest">
                <option selected value="GET">GET</option>
                <option value="POST">POST</option>
            </select>
        </div>
        <br><br>
        <div ng-if="typeOfRequest=='POST'">
            <label for="post_inp" class="control-label">{{"POST_LABEL" | translate}}</label>
            <input type="text"
                   class="form-control"
                   ng-model="reqText"
                   id="post_inp">
        </div>
    </form>
    <br>
    <button class="btn btn-default" id="send" ng-click="send()">{{'SEND'| translate}}</button>
</div>


<!--code for cntrl down-->

<h2>{{'HISTOGRAMM' | translate}}</h2>
<ul class="chart" style="width:{{width}}px; height:{{height}}px;">
    <!-- Labels -->
    <div class="y" style="width:{{height}}px;">{{'time' | translate}}</div>
    <div class="x">{{'count' | translate}}</div>
    <!-- Data -->
    <li ng-repeat="bar in data" class="bar"
        style="max-height: {{height}}px ;height:{{bar.value / max * height}}px; max-width: 50px; width:{{width / data.length - 5}}px; left:{{$index / data.length * width}}px;">
        <span>{{bar.label}}:{{bar.value}}</span></li>
</ul>
<button class="btn btn-default" ng-click="toggleTable()">{{"info" | translate}}</button>

<div class="tableSize center-block "><br>
<table class="table table-hover table-bordered" ng-if="showTable==true">
    <thead>
    <tr>
        <td>{{'numberReq' | translate}}</td>
        <td>{{'typeReq' | translate}}</td>
        <td>{{'timeReq' | translate}}</td>

    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="item in data track by $index">
        <td>{{$index+1}}</td>
        <td>{{item.type}}</td>
        <td>{{item.value}}</td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>