<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Histogram analyse of signals</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-controller="mainCtrl">
<h1 class="text-center">Histogram analyse of signals!</h1><br><br>
<div class="container-fluid">
<form class="form-inline " role="form">
    <div class="form-group ">
        <label class="control-label" for="link">Enter link here:</label>
        <input type="text" class="form-control" id="link" value="localhost:3000/custom" >
    </div>

</form>
    <br>
    <form class="form-inline" role="form">
        <div class="form-group ">
            <label class="control-label" for="type">Enter type of http request</label>
            <select id="type" class="form-control" >
                <option selected value="get">GET</option>
                <option value="post">POST</option>
            </select>
        </div>
    </form>
    <br>
    <button class="btn btn-default" id="send" ng-click="send()">Send request</button>
</div>



<!--code for cntrl down-->

<h2>Bar Chart</h2>
<ul class="chart" style="width:{{width}}px; height:{{height}}px;">
    <!-- Labels -->
    <div class="y" style="width:{{height}}px;">{{yAxis}}</div>
    <div class="x">{{xAxis}}</div>
    <!-- Data -->
    <li ng-repeat="bar in data" class="bar" style="height:{{bar.value / max * height}}px; width:{{width / data.length - 5}}px; left:{{$index / data.length * width}}px;"><span>{{bar.label}}:{{bar.value}}</span></li>
</ul>




</body>
</html>